.wrapper{
    position: relative;
    background: #000;
}
.rose-box{
    position: absolute;
    left: 50%;
    top: 100px;
    width: 320px;
    margin-left:-160px;
    .day{
        width: 100px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 100px;
        margin-left: -50px;
        color: #FEFED1;
        text-align: center;
        font-size: 30px;
        animation: show-day 11s ease;
    }
    .rose{
        position: absolute;
    }
    .rose1{
        left: 210px;
        top: 0;
        transform: rotate(45deg);
        animation: moveing-rose1 1s ease;
    }
    .rose2{
        left: 309px;
        top: 47px;
        transform: rotate(110deg);
        animation: moveing-rose2 2s ease;
    }
    .rose3{
        left: 280px;
        top: 158px;
        transform: rotate(195deg);
        animation: moveing-rose3 3s ease;
    }
    .rose4{
        left: 232px;
        top: 219px;
        transform: rotate(215deg);
        animation: moveing-rose4 4s ease;
    }
    .rose5{
        left: 160px;
        top: 265px;
        transform: rotate(230deg);
        animation: moveing-rose5 5s ease;
    }
    .rose6{
        left: 180px;
        top: 235px;
        transform: rotate(-230deg);
        animation: moveing-rose6 6s ease;
    }
    .rose7{
        left: 121px;
        top: 192px;
        transform: rotate(-215deg);
        animation: moveing-rose7 7s ease;
    }
    .rose8{
        left: 77px;
        top: 144px;
        transform: rotate(-195deg);
        animation: moveing-rose8 8s ease;
    }
    .rose9{
        left: 24px;
        top: 82px;
        transform: rotate(-110deg);
        animation: moveing-rose9 9s ease;
    }
    .rose10{
        left: 80px;
        top: 27px;
        transform: rotate(-45deg);
        animation: moveing-rose10 10s ease;
    }
}
.title{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100px;
    height: 50px;
    line-height: 50px;
    color: #FEFED1;
    text-align: center;
    font-size: 25px;
    background: red;
    font-family: arial, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    animation: show-day 11s ease;
}
@keyframes show-day {
    0%,95.2%{
        opacity: 0;
    }
}
@keyframes moveing-rose1 {
    0%{
        left: -100px;
        top: 0;
        transform: rotate(0deg);
    }
}
@keyframes moveing-rose2 {
    0%,50%{
        left: -100px;
        top: 0;
        transform: rotate(0deg);
    }
}
@keyframes moveing-rose3 {
    0%,66.6%{
        left: -100px;
        top: 0;
        transform: rotate(0deg);
    }
}
@keyframes moveing-rose4 {
    0%,75%{
        left: -100px;
        top: 0;
        transform: rotate(0deg);
    }
}
@keyframes moveing-rose5 {
    0%,80%{
        left: -100px;
        top: 0;
        transform: rotate(0deg);
    }
}
@keyframes moveing-rose6 {
    0%,83.3%{
        left: -100px;
        top: 0;
        transform: rotate(0deg);
    }
}
@keyframes moveing-rose7 {
    0%,85.7%{
        left: -100px;
        top: 0;
        transform: rotate(0deg);
    }
}
@keyframes moveing-rose8 {
    0%,87.5%{
        left: -100px;
        top: 0;
        transform: rotate(0deg);
    }
}
@keyframes moveing-rose9 {
    0%,88.9%{
        left: -100px;
        top: 0;
        transform: rotate(0deg);
    }
}
@keyframes moveing-rose10 {
    0%,90%{
        left: -100px;
        top: 0;
        transform: rotate(0deg);
    }
}